body{
    margin: 0;
    font-family: 'Mulish', sans-serif;
    background-color: #1b1433;
    color: #fff;
    font-size: 13px;

}

.container{
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

.head-items{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 1em auto;
}



h3{
    margin-right: auto;
    font-weight: 600;
}

.nav{
    display: flex;
    flex-direction: row;
    margin: 0 2.5em;
    
}

.nav :hover, :focus{
    color: rgb(156, 150, 192);
}

.nav-items{
    display: flex;
    list-style: none;
    
}

.nav-list{
    margin: 0 1.5em;
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
}


.butclick1{
    background-color: #1b1433;
    border: 1px rgb(98, 67, 170) solid;
    border-radius: 3px;
    color: rgb(188, 189, 211);
    
    font-family: inherit;


    padding: 0.4em 1.8em 0.3em;
    font-size: 12px;
    margin-right: 1.7em;
}

.butclick2{
    background-color: rgb(112, 112, 228);
    border: none;
    border-radius: 3px;
    color: rgb(219, 216, 240);
    font-size: 12px;
    padding: 0.4em 1.6em;
    font-family: inherit;

}

.butclicks :hover, :focus{
    opacity: 0.70;
    cursor: pointer;
}

.mid{
    margin: 4em 0;
}

.mid-items h1{
    font-size: 44px;
    letter-spacing: 1px;
    width: 68%;
    margin: 0;
}

.mid-items p{
    width: 53%;
    margin: 0.8em 0;
    opacity: 0.8;

}

.images{
    margin-top: -1em;
    margin-left: -0.3em;
}

#image1{
    width: 17%;
    height: 8em;
    margin: -1em -1em;
}

#image2{
    width: 17%;
    height: 4.3em;
    margin: 0.8em -0.5em;
}

.but-items{
    display: flex;
    flex-direction: row;
    
}

.but-detail{
background-color: #0f0029;
padding: 1em 1em 0;
margin-top: -1em;
margin-bottom: 0;
width: 30%;
}

.but-detail + .but-detail{
    margin-left:  1em;
}

#user1 .user-head, #user2 .user-head, #user3 .user-head{
    border: 1px solid #fff;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin-left: 2px;
}

#user1 .user-body, #user2 .user-body, #user3 .user-body{
    border: 1px solid #fff;
    width: 10px;
    height: 5px;
}

.user-icons{
    display: flex;
}

#user2{
    margin-top: 5px;
}


#image-icon1{
    width: 15%;
}

#image-icon2{
    width: 6%;
    margin-left: -27px;
    
}

#image-icon3{
    width: 8%;
    padding-left: 8.5px;
    margin-bottom: -4px;
}

.but-texts h3{
    margin-top: 8px;
}

.but-texts p{
    margin-top: -9px;
    opacity: 0.8;
}


@media screen and (max-width: 600px){
    
    .head-items{
        flex-direction: column;
    }

    .nav-list{
        margin: 0 15px;
    
    }
    
    .nav-items{
        margin-left: -35px;
    }
    h3{
        margin: 0 auto;
    }
    
    .mid-items h1{
        font-size: 30px;
        

    }

    .mid-items p, .mid-items h1{
        width: 100%;
    }

    .images{
        margin-left: 0.2px;
    }

    #image1{
        width: 40%
    }

    #image2{
        width: 40%;
    }

    .but-items{
        flex-direction: column;
        
    }

    .but-detail{
        width: 90%;
        
    }

    .but-detail + .but-detail{
        margin-left: 0;
        margin-top: 10px;
    }

    #image-icon2{
        margin-left: -30px;
    }

    .but-texts p{
        margin-top: 5px;
    }
}